<h1>Actualice su contraseña</h1>

<%=form_with model: @usuario, :url => {:controller => "perfil", :action => "change_password", :id => @usuario.id}, method: :patch do |form| %>
  <% if @usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% @usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :current_password, style: "display: block" %>
    <%= form.password_field :current_password %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation, style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>


  <div>
    <%= form.submit 'Actualizar' %>
  </div>

<% end %>