<h1>Actualizar contrase単a</h1>

<%=form_with model: @usuario, :url => {:controller => "perfil", :action => "change_password", :id => @usuario.id}, method: :patch do |form| %>
  <% if @usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% @usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-group">
    <%= form.label :current_password,'Contrase単a actual', style: "display: block" %>
    <%= form.password_field :current_password %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :password,'Contrase単a nueva', style: "display: block" %>
    <%= form.password_field :password %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :password_confirmation,'Repita la nueva contrase単a', style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <br>
  <div>
    <%= form.submit 'Actualizar' %>
  </div>
  </form>

<% end %>