
<h1>Actualizar contrase単a</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |form| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <form>
  <br>
  <div class="form-group">
    <%= form.label :current_password,'Contrase単a actual', style: "display: block" %>
    <%= form.password_field :current_password %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :password,'Contrase単a nueva', style: "display: block" %>
    <%= form.password_field :password %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :password_confirmation,'Repita la nueva contrase単a', style: "display: block" %>
    <%= form.password_field :password_confirmation %>
  </div>

  <br>
  <div>
    <%= form.submit 'Actualizar' , class:"btn btn-info"%>
  </div>
  </form>

<% end %>
