<h1>Editar usuario</h1>


<%= form_with(model: @usuario) do |form| %>
  <% if @usuario.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>
      <ul>
        <% @usuario.errors.each do |error| %>
          <div class="alert alert-danger">
            <li><%= error.full_message %></li>
          </div>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
  <div class="form-group">
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>
  <br>
  <div class="form-group w-25">
    <%= form.label :rol, style: "display: block" %>
    <%= form.select(:rol, options_for_select([['Personal Bancario',1],['Administrador',2]], @usuario.roles.first.name == 'admin' ? 2 : 1), {}, {:onChange=>"cambiarVista();"}) %>
  </div>
  <br>
  <div class="form-group w-25" id="sucursal" >
    <%= form.label :sucursal, style: "display: block" %>
    <%= form.select(:sucursal, options_from_collection_for_select(Sucursal.where(usuario_id: [nil,@usuario.id]), :nombre, :nombre)) %>
  </div>
  <br>
  <div>
    <%= form.submit 'Actualizar usuario', class:"btn btn-info"%>
  </div>
  </form>

<% end %>
<br>

<script>
cambiarVista()
function cambiarVista() {
  var element = document.getElementById("usuario_rol");
  if (element.value == '1') 
    document.getElementById("sucursal").style.display = 'block'
  else
    document.getElementById("sucursal").style.display = 'none';
}
</script>