<p style="color: green"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Rol</th>
    </tr>
  </thead>
  <tbody>
    <% @usuarios.each_with_index do |usuario, index| %>
      <tr onclick="window.location = '/admin/usuarios/'+<%=usuario.id%>">
        <th scope="row"><%= index + 1 %></th>
        <td><%=usuario.email%></td>
        <td><%=usuario.roles[0].name%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= button_to "Agregar usuario", new_usuario_path, method: :get, class: "btn btn-outline-primary" %>
