<%= form_with(model: sucursal) do |form| %>
  <% if sucursal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

      <ul>
        <% sucursal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.number_field :telefono %>
  </div>

  <br>
  <div>
    <%= form.label 'Lunes', style: "display: block" %>
    <div>
      <%= form.label :ini1, 'Inicio:', style: "float: left" %>
      <%= form.select(:ini1, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
    <div>
      <%= form.label :fin1, 'Fin:', style: "float: left" %>
      <%= form.select(:fin1, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
  </div>
  <br>
  <div>
    <%= form.label 'Martes', style: "display: block" %>
    <div>
      <%= form.label :ini2, 'Inicio:', style: "float: left" %>
      <%= form.select(:ini2, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
    <div>
      <%= form.label :fin2, 'Fin:', style: "float: left" %>
      <%= form.select(:fin2, (7..18).to_a.map {|x| [x,x.to_i]})%>
    </div>
  </div>
  <br>
  <div>
    <%= form.label 'Miercoles', style: "display: block" %>
    <div>
      <%= form.label :ini3, 'Inicio:', style: "float: left" %>
      <%= form.select(:ini3, (7..18).to_a.map {|x| [x,x.to_i]}) %>>
    </div>
    <div>
      <%= form.label :fin3, 'Fin:', style: "float: left" %>
      <%= form.select(:fin3, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
  </div>
  <br>
  <div>
    <%= form.label 'Jueves', style: "display: block" %>
    <div>
      <%= form.label :ini4, 'Inicio:', style: "float: left" %>
      <%= form.select(:ini4, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
    <div>
      <%= form.label :fin4, 'Fin:', style: "float: left" %>
      <%= form.select(:fin4, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
  </div>
  <br>
  <div>
    <%= form.label 'Viernes', style: "display: block" %>
    <div>
      <%= form.label :ini5, 'Inicio:', style: "float: left" %>
      <%= form.select(:ini5, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
    <div>
      <%= form.label :fin5, 'Fin:', style: "float: left" %>
      <%= form.select(:fin5, (7..18).to_a.map {|x| [x,x.to_i]}) %>
    </div>
  </div>
  
  
  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>