<h1>Editing sucursal</h1>

<%= form_with(model: @sucursal) do |form| %>
  <% if @sucursal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@sucursal.errors.count, "error") %> prohibited this sucursal from being saved:</h2>

      <ul>
        <% @sucursal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nombre, style: "display: block" %>
    <%= form.text_field :nombre %>
  </div>

  <div>
    <%= form.label :direccion, style: "display: block" %>
    <%= form.text_field :direccion %>
  </div>

  <div>
    <%= form.label :telefono, style: "display: block" %>
    <%= form.number_field :telefono %>
  </div>

  <br>

  <h4>Horarios: </h4>
  <% ["Lunes","Martes","Miercoles","Jueves","Viernes","Sabado","Domingo"].each_with_index do |x,y| %>
    <%= form.fields_for (x).to_s do |fd| %>
    <%= x %>
      <div>
        <%= hidden_field_tag y  %>
      </div>
      <div>
        <%= fd.label :ini, 'Inicio: ', style: "float: left" %>
        <%= fd.select(:ini, (7..18).to_a.map {|x| [x,x.to_i]}, {:selected => @sucursal.dias.find_by(dia: y+1).inicio}, {:onChange=>"finHora('"+x+"')"}) %>
      </div>
      <div>
        <%= fd.label :fin, 'Fin: ', style: "float: left" %>
        <%= fd.select(:fin, (7..18).to_a.map {|x| [x,x.to_i]}, {:selected => @sucursal.dias.find_by(dia: y+1).fin}, {:onChange=>"finHora('"+x+"')"}) %>
      </div>
    <% end %>
  <% end %>

  <br>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Show this sucursal", @sucursal %> |
  <%= link_to "Back to sucursales", sucursales_path %>
</div>


<script>

function finHora(dia){
  var ini = document.getElementById("sucursal_"+dia+"_ini");
  var fin = document.getElementById("sucursal_"+dia+"_fin");

  if ( parseInt(ini.value) >= parseInt(fin.value)) {
    if (ini.value != ini.options[ini.options.length - 1].value) {
      fin.value = String(parseInt(ini.value) + 1)
    }
    else {
      ini.value = String(parseInt(ini.value) - 1)
      fin.value = fin.options[fin.options.length - 1].value
    }
  }
}

</script>