
<style>
table.table td a.view {
    color: #03A9F4;
}
table.table td a.edit {
    color: #FFC107;
}
table.table td a.delete {
    color: #E34724;
}
</style>

<h1>Sucursales</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Direccion</th>
      <th scope="col">Telefono</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @sucursales.each_with_index do |sucursal, index| %>
      <tr>
        <th scope="row"><%= index + 1 %></th>
        <td><%=sucursal.nombre%></td>
        <td><%=sucursal.direccion%></td>
        <td><%=sucursal.telefono%></td>
        <td>
          <a href="<%= sucursal_path(sucursal) %>" class="view" title="View" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
          <%if current_usuario.has_role? :admin%>
            <a href="<%= edit_sucursal_path(sucursal) %>" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if can? :create, Sucursal %>
  <%= button_to "Agregar sucursal", new_sucursal_path, method: :get, class: "btn btn-outline-primary" %>
<% end %>