<div id="<%= dom_id turno %>">
  <p>
    <strong>Motivo:</strong>
    <%= turno.motivo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= turno.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= turno.estado %>
  </p>

  <p>
    <strong>Resultado:</strong>
    <%= turno.resultado %>
  </p>

</div>
