<div id="<%= dom_id turno %>">

  <p>
    <strong>Sucursal:</strong>
    <%= turno.sucursal.nombre %>
  </p>

  <p>
    <strong>Motivo:</strong>
    <%= turno.motivo %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= turno.fecha %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= turno.estado %>
  </p>

  <% if turno.estado != "pendiente" %>
    <p>
      <strong>Resultado:</strong>
      <%= turno.resultado %>
    </p>
  <% end %>

</div>
