<h1>Atender turno</h1>

<%= form_with model: @turno, :url => {:action => "atender", :id => @turno.id}, method: :patch do |form| %>
  <% if @turno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@turno.errors.count, "error") %> prohibited this turno from being saved:</h2>

      <ul>
        <% @turno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <form>
  <div class="form-group">
    <%= form.label :resultado, style: "display: block" %>
    <%= form.text_field :resultado %>
  </div>

  <br>
  <div>
    <%= form.submit "Atender", class:"btn btn-warning"%>
  </div>
  </form>
<% end %>

<br>