<p style="color: green"><%= notice %></p>

<h1>Turnos</h1>

<div id="turnos">
  <% @turnos.each do |turno| %>
    <%= render turno %>
    <% if current_cliente %>
      <p>
        <%= link_to "Mostrar detalles del turno", turno %>
      </p>
    <% else %>
      <p>
        <%= link_to "Mostrar detalles del turno", "/admin/turnos/#{turno.id}" %>
      </p>
    <% end %>
    <br>
  <% end %>
  </div>

<% if @turnos.empty? and current_usuario %>
    <p>Actualmente la sucursal <%=current_usuario.sucursal.nombre%> no posee turnos pendientes</p>
<% end %>

<% if current_cliente %>
  <%= link_to "Solicitar turno", new_turno_path %>
<% end %>
