<h1>New turno</h1>

<%= form_with(model: @turno) do |form| %>
  <% if @turno.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@turno.errors.count, "error") %> prohibited this turno from being saved:</h2>

      <ul>
        <% @turno.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :motivo, style: "display: block" %>
    <%= form.text_field :motivo %>
  </div>

  <div>
    <%= form.label :sucursal_id, 'Sucursal', style: "display: block" %>
    <%= form.select(:sucursal_id, options_from_collection_for_select(Sucursal.all, :id, :nombre), {}, {:onChange=>'fetchHoras();'}) %>
  </div>

  <div>
    <%= form.label :dia, 'Dia: ', style: "display: block" %>
    <%= form.date_field :dia, min: Date.tomorrow, :value => Date.tomorrow.strftime('%Y-%m-%d'), :onChange=>'fetchHoras();' %>
  </div>

  <div>
    <%= form.label :hora, 'Hora: ', style: "float: left" %>
    <%= form.select(:hora, (7..18).to_a.map {|x| [x,x.to_i]}) %> : 
    <%= form.select(:minutos, {00=>00,15=>15,30=>30,45=>45}) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>

<div>
  <%= link_to "Back to turnos", turnos_path %>
</div>

<script>

  var element = document.getElementById("turno_dia");
  var hora = document.getElementById("turno_hora");

  var hs = "<%= Sucursal.all.to_a %>"
  
  function fetchHoras() {
    var idSuc = document.getElementById("turno_sucursal_id").value
    var numDia = new Date(element.value).getDay()
    fetch(`http://127.0.0.1:3000/api/${idSuc}/horarios`)
      .then(response => response.json())
      .then(result => {
        var str = ""
        for (var i = result[numDia]['inicio']; i <= result[numDia]['fin']; i ++) {
          str += "<option value="+i+">" + i + "</option>"
        }
        document.getElementById("turno_hora").innerHTML = str;
      })
  };

  fetchHoras()
</script>