<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<%= render @turno %>

<div>
  <% if current_cliente and can? :update, Turno and @turno.estado == 'pendiente'%>
    <%= link_to "Editar turno", edit_turno_path(@turno) %> |
  <% end %>
  <%= link_to "Back to turnos", turnos_path %>
  <% if current_cliente and can? :destroy, Turno and @turno.estado == 'pendiente'%>
    <%= button_to "Cancelar turno", @turno, method: :delete %>
  <% end %>

  <%  if current_usuario and can? :atender, Turno %>
    <%= button_to "Atender turno", { action: "atender_turno", id: @turno.id }, method: :get %>
  <% end %>
</div>
